bin/Debug/net8.0/AOC24.dll
bin/Debug/net8.0/AOC24.pdb
obj/Debug/net8.0/AOC24.AssemblyInfo.cs
obj/Debug/net8.0/AOC24.AssemblyInfoInputs.cache
obj/Debug/net8.0/AOC24.csproj.FileListAbsolute.txt
obj/Debug/net8.0/AOC24.dll
obj/Debug/net8.0/AOC24.pdb
obj/Debug/net8.0/AOC24.sourcelink.json
obj/Debug/net8.0/ref/AOC24.dll
obj/Debug/net8.0/refint/AOC24.dll
