bin/Debug/net8.0/AOC24.dll
bin/Debug/net8.0/AOC24.pdb
obj/Debug/net8.0/AOC24.AssemblyInfo.cs
obj/Debug/net8.0/AOC24.AssemblyInfoInputs.cache
obj/Debug/net8.0/AOC24.csproj.FileListAbsolute.txt
obj/Debug/net8.0/AOC24.dll
obj/Debug/net8.0/AOC24.pdb
obj/Debug/net8.0/AOC24.sourcelink.json
obj/Debug/net8.0/ref/AOC24.dll
obj/Debug/net8.0/refint/AOC24.dll
/.vs
/bin/Debug/net8.0/AOC24.dll
/bin/Debug/net8.0/AOC24.exe
/bin/Debug/net8.0/AOC24.pdb
/bin/Debug/net8.0/input2
/obj/Debug/net8.0/ref/AOC24.dll
/obj/Debug/net8.0/refint/AOC24.dll
/obj/Debug/net8.0/AOC24.AssemblyInfo.cs
/obj/Debug/net8.0/AOC24.AssemblyInfoInputs.cache
/obj/Debug/net8.0/AOC24.assets.cache
/obj/Debug/net8.0/AOC24.csproj.BuildWithSkipAnalyzers
/obj/Debug/net8.0/AOC24.csproj.CoreCompileInputs.cache
/obj/Debug/net8.0/AOC24.csproj.FileListAbsolute.txt
/obj/Debug/net8.0/AOC24.dll
/obj/Debug/net8.0/AOC24.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net8.0/AOC24.genruntimeconfig.cache
/obj/Debug/net8.0/AOC24.pdb
/obj/Debug/net8.0/apphost.exe
/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/obj/Release/net8.0/AOC24.AssemblyInfo.cs
/obj/Release/net8.0/AOC24.AssemblyInfoInputs.cache
/obj/Release/net8.0/AOC24.assets.cache
/obj/Release/net8.0/AOC24.GeneratedMSBuildEditorConfig.editorconfig
/obj/Release/net8.0/AOC24.GlobalUsings.g.cs
/obj/AOC24.csproj.nuget.dgspec.json
/obj/AOC24.csproj.nuget.g.props
/obj/project.assets.json
/obj/project.nuget.cache
